<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>황금돼지꿈</title>

    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Lato&display=swap" rel="stylesheet">

    <link rel="icon" src="{% static 'img/goldpig.jpg' %}">

    
    <link rel="stylesheet"href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="inner">
        <div class="head-wrap">
            <div class="img_wrap">
                <img class="imghere" src="{% static 'img/goldpig.jpg' %}" alt="">
            </div>
            <div class="title-and-intro">
                <p class="title">👑 황금돼지 꿈 👑</p>
                <p class="intro">당신의 총 당첨 금액은 !</p>
                <p class="sum-of-money"></p>
                <p>입니다.</p>
            </div>
        </div>

        <div class="add-name-wrap">
            <p>이름 입력하고 내 랭킹 등록하기 <br>( •̀ .̫ •́ )✧</p>
            <form  name="user_name" action="/rank" method="GET">
                <input type="text" placeholder="이름을 입력하세요.">
                <input type="submit" value="랭킹등록"></input>
            </form>
            
            
        </div>

        <p class="show-rank">전체 랭킹 보기</p>
    </div>
</body>
</html>